.row{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
}
.bttn{
  background-color: lightskyblue;
  width: 100%;
  height: 50%;
}
.col{
  margin-right: 30%;
}
.company_info{
  display: block;
  height: auto;
  width: 70%;
  margin-left: 10%;
}
